<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net45" />
</packages>