<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.;Database=BetterMembership;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="DefaultProvider">
      <providers>
        <add name="DefaultProvider" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="DefaultConnection" />
      </providers>
    </membership>
    <roleManager enabled="true" />
  </system.web>
</configuration>