<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="entityFramework"
		         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		         requirePermission="false" />
	</configSections>
	<connectionStrings>
    <add name="SqlServer"
     connectionString="Server=.;Database=BetterMembership;Trusted_Connection=True;"
     providerName="System.Data.SqlClient" />
		<add name="SqlServerCE1"
		     connectionString="Data Source=|DataDirectory|GenericProvider.sdf;Persist Security Info=False;"
		     providerName="System.Data.SqlServerCe.4.0" />
		<add name="SqlServerCE2"
		     connectionString="Data Source=|DataDirectory|GenericProvider2.sdf;Persist Security Info=False;"
		     providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<appSettings>
		<add key="enableSimpleMembership" value="false" />
	</appSettings>
	<system.web>
		<membership defaultProvider="defaultProviderWithEmailColumn">
			<providers>
				<add name="defaultProviderWithEmailColumn" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServer" userEmailColumn="Email" passwordLockoutTimeoutInSeconds="1" maxInvalidPasswordAttempts="3" autoInitialize="true" />
        <add name="defaultProviderWithoutEmailColumn" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServer" passwordLockoutTimeoutInSeconds="1" maxInvalidPasswordAttempts="3" autoInitialize="true" />
        <add name="nonDefaultProvider" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServerCE2" userTableName="CustomUserTable" userEmailColumn="Email" autoInitialize="true" />
			</providers>
		</membership>
		<roleManager enabled="true" />
	</system.web>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="System.Data.SqlServerCe.4.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
</configuration>