<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="entityFramework"
		         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		         requirePermission="false" />
	</configSections>
	<connectionStrings>
    <add name="SqlServer"
     connectionString="Server=.;Database=BetterMembership;Trusted_Connection=True;MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient" />
		<add name="SqlServerCe1"
		     connectionString="Data Source=|DataDirectory|BetterMembership1.sdf;Persist Security Info=False"
		     providerName="System.Data.SqlServerCe.4.0" />
    <add name="SqlServerCe2"
         connectionString="Data Source=|DataDirectory|BetterMembership2.sdf;Persist Security Info=False"
         providerName="System.Data.SqlServerCe.4.0" />
    <add name="SqlServerCe3"
         connectionString="Data Source=|DataDirectory|BetterMembership3.sdf;Persist Security Info=False"
         providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<appSettings>
		<add key="enableSimpleMembership" value="false" />
	</appSettings>
	<system.web>
		<membership defaultProvider="SqlClientProviderWithEmailColumn">
			<providers>
				<add name="SqlClientProviderWithEmailColumn" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServer" userEmailColumn="Email" passwordAttemptWindowInSeconds="1" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="1" maxInvalidPasswordAttempts="3" autoInitialize="true" />
        <add name="SqlClientProviderWithUniqueEmail" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServer" userTableName="CustomUserTable" userEmailColumn="EmailAddress" maxEmailLength="56" minRequiredPasswordLength="3" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="1" passwordAttemptWindowInSeconds="1" maxInvalidPasswordAttempts="3" autoInitialize="true" />
        <add name="SqlClientProviderWithoutEmailColumn" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServer" passwordAttemptWindowInSeconds="1" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="4" autoInitialize="true" />
        <add name="SqlClientCeProviderWithEmailColumn" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
             connectionStringName="SqlServerCe1" userEmailColumn="Email" passwordAttemptWindowInSeconds="1" minRequiredPasswordLength="6" maxInvalidPasswordAttempts="3" minRequiredNonalphanumericCharacters="1" autoInitialize="true" />
        <add name="SqlClientCeProviderWithUniqueEmail" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServerCe2" userTableName="CustomUserTable" userEmailColumn="EmailAddress" maxEmailLength="56" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="1" requiresUniqueEmail="true" passwordAttemptWindowInSeconds="1" maxInvalidPasswordAttempts="3" autoInitialize="true" />
        <add name="SqlClientCeProviderWithoutEmailColumn" type="BetterMembership.Web.BetterMembershipProvider, BetterMembership"
				     connectionStringName="SqlServerCe3" passwordAttemptWindowInSeconds="1" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="1" autoInitialize="true" />
			</providers>
		</membership>
    <roleManager defaultProvider="SqlClientRoleProviderName" enabled="true">
      <providers>
        <clear />
        <add name="SqlClientRoleProviderName" type="BetterMembership.Web.BetterRoleProvider, BetterMembership" connectionStringName="SqlServer" autoInitialize="true" />
        <add name="SqlClientCeRoleProviderName" type="BetterMembership.Web.BetterRoleProvider, BetterMembership" connectionStringName="SqlServerCe3" autoInitialize="true" />
      </providers>
    </roleManager>
	</system.web>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="System.Data.SqlServerCe.4.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
</configuration>